<!DOCTYPE html>
<html>
  <head>
    <title>Server Error</title>
    </head>
    <body>
    <div class="fivehundred">
      <div class="main">
        <h1>
          Internal Server Error
        </h1>
        <h2>
          Something isn't right here.
        </h2>

       <p class="error">
          A team of highly trained sea bass is working on this as we speak.<br/>
          If the problem persists, please <a href="https://github.com/code-for-coffee/il-dispensaries-api/issues">file an issue on our project</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
        </p>

      </div>
    </div>
  </body>
</html>
