<!-- Default home page -->
<div class="container">
  <div class="row">
    <div class="one-half column">
      <h2>Illinois Dispensaries</h2>
      <p>Welcome to the first, open sourced Illinois Dispensary API. We encourage you to consume and use our API. You may view our read-only API at <a href="/api-v1">/api-v1</a>. No API key is needed.</p>
      <p>If you'd like to offer suggestions or contribute, you may <a href="https://github.com/code-for-coffee/il-dispensaries-api">view the Github repository</a>.</p>
    </div>
    <div class="one-half column">
      <h4>References</h4>
      <a target="_blank" href="http://www.idfpr.com/profs/medcan.asp"><li>IDFPR Med Can Pilot Program</li></a>
      <a target="_blank" href="http://www.idfpr.com/Forms/MC/ListofLicensedDispensaries.pdf"><li>List of approved IL Dispensaries</li></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h3>Current Illinois Dispensaries</h3>
      <div id="dispensary-locations"></div>
    </div>
  </div>
</div>



