<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container">Illinois Medical Cannabis Dispensary API</h1>
    </div>
    <div class="main container clearfix">
        <h1>The first API for dispensaries in Illinois!</h1>
        <ul class="getting-started">
            <li class="clearfix">
                <div class="step">
                    <div class="sprite one"></div>
                    <h3>View our API!</h3>
                    <p>
                        You may view our read-only API at <a href="/api-v1">/api-v1</a>.
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite two"></div>
                    <h3>
                        Consume Our API
                    </h3>
                    <p>
                      <strong>Nom nom nom.</strong> We encourage you to use our API. No key needed.
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite three"></div>
                    <h3>
                        Let us know how we can help!
                    </h3>
                    <p>If you'd like to offer suggestions or contribute, you may <a href="https://github.com/code-for-coffee/il-dispensaries-api">view the Github repository</a>.</p>

                </div>
            </li>
        </ul>
        <div class="links">
            <!-- <h3>Links</h3> -->
            <ul class="link-list">

                <h4>References</h4>
                <a target="_blank" href="http://www.idfpr.com/profs/medcan.asp"><li>IDFPR Med Can Pilot Program</li></a>

                <h4>Source of Data</h4>
                <a target="_blank" href="http://www.idfpr.com/Forms/MC/ListofLicensedDispensaries.pdf"><li>List of approved IL Dispensaries</li></a>
            </ul>
        </div>
    </div>
</div>
