<!-- Default home page -->
<div class="container">
  <div class="row">
    <div class="one-half column">
      <h2>Illinois Dispensaries</h2>
      <p>Welcome to the first, open sourced Illinois Dispensary API. We encourage you to consume and use our API. You may view our read-only API at <a href="/api-v1">/api-v1</a>. No API key is needed.</p>
      <p>If you'd like to offer suggestions or contribute, you may <a href="https://github.com/code-for-coffee/il-dispensaries-api">view the Github repository</a>. This website was last updated 2016-12-18. The dataset the state of IL provides was last updated 2016-12-13.</p>
    </div>
    <div class="one-half column">
      <h4>Navigation</h4>
      <a href="#anchor-facts"><li>Fun Facts</li></a>
      <a href="#anchor-documentation"><li>API Documentation</li></a>
      <a href="#anchor-list"><li>Current Dispensaries</li></a>
      <h4>References</h4>
      <a target="_blank" href="http://www.idfpr.com/profs/medcan.asp"><li>IDFPR Med Can Pilot Program</li></a>
      <a target="_blank" href="http://www.idfpr.com/Forms/MC/ListofLicensedDispensaries.pdf"><li>List of approved IL Dispensaries</li></a>
    </div>
  </div>
</div>

<div class="container" id="anchor-facts">
  <div class="row">
    <div class="twelve columns">
      <h3>Fun Facts</h3>
      <div id="dispensary-facts"></div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <p data-height="375" data-theme-id="light" data-slug-hash="bBroeL" data-default-tab="result" data-user="code-for-coffee" data-embed-version="2" data-pen-title="Chart.js Line Chart Example" class="codepen">See the Pen <a href="http://codepen.io/code-for-coffee/pen/bBroeL/">Chart.js Line Chart Example</a> by James (<a href="http://codepen.io/code-for-coffee">@code-for-coffee</a>) on <a href="http://codepen.io">CodePen</a>.</p>
      <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
    </div>
  </div>
</div>

<div class="container" id="anchor-documentation">
  <div class="row">
    <div class="twelve columns">
      <h3>API Documentation</h3>
      <p>You may use <code>GET</code> requests to <a href="http://illinoisdispensaries.space/api-v1/">http://illinoisdispensaries.space/api-v1/</a>.
        </p>
      <script src="https://gist.github.com/code-for-coffee/3323cd01e94db444bbd2d08c87cd2f0c.js"></script>
      <p>It will return an array of JSON objects that represent every dispensary approved by the Illinois Medical Cannabis Pilot Program. Below is a sample object. Each object's keys will have an associated value (do not expect any null/undefined values).</p>
      <script src="https://gist.github.com/code-for-coffee/447eae2e3a75e3769808225422fe324c.js"></script>
    </div>
  </div>
</div>




<div class="container" id="anchor-list">
  <div class="row">
    <div class="twelve columns">
      <h3>Current Illinois Dispensaries</h3>
      <div id="dispensary-locations"></div>
    </div>
  </div>
</div>



