<!DOCTYPE html>
<html>
  <head>
    <title>Illinois Dispensary API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    {{{body}}}
    <script src="/js/dependencies/sails.io.js"></script>
  </body>
</html>
