<!DOCTYPE html>
<html>
  <head>
    <title>Illinois Dispensaries</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/min/production.min.css">
    <meta name="description" content="First API of dispensaries in Illinois. View all dispensaries in IL, fun facts, and more!">
    <meta name="author" content="Illinois">
    <meta name="keywords" content="list of dispensaries, list of illinois dispensaries,IL,illinois,dispensary,dispensaries,marijuana,medical,mmj,api,open source,github,illinois medical cannabis,medical cannabis pilot,chicago,joliet,marijuana">
  </head>

  <body>
    <%- body %>

    <script src="/min/production.min.js"></script>
  </body>
</html>
